@font-face{

font-family: "Roboto Regular";
src:url("Roboto-Regular.ttf");
font-weight: normal;
font-style: normal;

}

		*
		{
			margin: 0px;
		}
	gar
		{
			background: #222222;
			display: block;	
			overflow: hidden;
		}

	gar>div>div
		{
			overflow: hidden;
			opacity: 1;
			background-size: cover;
			background-position: center;
			z-index: 1;

		}
		
		a.gsert2
		{
			cursor:zoom-in;
		}

		a.gsert2>div
		{
			display: table;
			
		
		}
		.nvid
		{
			background: #222222;
			display: none;
			margin-top: 0.5vh;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-row-gap: 0.5vh;
			grid-column-gap: 0.2vw;
			z-index: 1;

		}
		.vid
		{
			background: #222222;
			display: grid;
			margin-top: 0.5vh;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-row-gap: 0.5vh;
			grid-column-gap: 0.2vw;
			z-index: 1;
		}
		.about
		{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
            position: relative;
			width: 35vw;
			height: calc(100vh - 20vw);
			background: rgba(0,0,0,0.6);
			opacity: 1;
			color: aliceblue;
			font-size: 2vh;
			transition: ease 0.5s;
			font-family: Roboto Regular;
			font-weight:100;
			
			
		}
		a.gsert2
		{
			text-decoration: none;
		}
	
		a.gsert2:hover div
		{
			background: rgba(0,0,0,0);
		}

gar>div.vid>div:nth-child(1){background-image: url( "Gallery/01.webp");}
gar>div.vid>div:nth-child(2){background-image: url( "Gallery/02.webp");}
gar>div.vid>div:nth-child(3){background-image: url( "Gallery/03.webp");}
gar>div.vid>div:nth-child(4){background-image: url( "Gallery/04.webp");}
gar>div.vid>div:nth-child(5){background-image: url( "Gallery/05.webp");}
gar>div.vid>div:nth-child(6){background-image: url( "Gallery/06.webp");}
gar>div.vid>div:nth-child(7){background-image: url( "Gallery/07.webp");}
gar>div.vid>div:nth-child(8){background-image: url( "Gallery/08.webp");}
gar>div.vid>div:nth-child(9){background-image: url( "Gallery/09.webp");}
gar>div.vid>div:nth-child(10){background-image: url( "Gallery/10.webp");}
gar>div.vid>div:nth-child(11){background-image: url( "Gallery/11.webp");}
gar>div.vid>div:nth-child(12){background-image: url( "Gallery/12.webp");}
gar>div.nvid>div:nth-child(1){background-image: url( "Gallery/13.webp");}
gar>div.nvid>div:nth-child(2){background-image: url( "Gallery/14.webp");}
gar>div.nvid>div:nth-child(3){background-image: url( "Gallery/15.webp");}
gar>div.nvid>div:nth-child(4){background-image: url( "Gallery/16.webp");}
gar>div.nvid>div:nth-child(5){background-image: url( "Gallery/17.webp");}
gar>div.nvid>div:nth-child(6){background-image: url( "Gallery/18.webp");}
gar>div.nvid>div:nth-child(7){background-image: url( "Gallery/19.webp");}
gar>div.nvid>div:nth-child(8){background-image: url( "Gallery/20.webp");}
gar>div.nvid>div:nth-child(9){background-image: url( "Gallery/21.webp");}
gar>div.nvid>div:nth-child(10){background-image: url( "Gallery/22.webp");}
gar>div.nvid>div:nth-child(11){background-image: url( "Gallery/23.webp");}
gar>div.nvid>div:nth-child(12){background-image: url( "Gallery/24.webp");}
gar>div.nvid>div:nth-child(13){background-image: url( "Gallery/25.webp");}
gar>div.nvid>div:nth-child(14){background-image: url( "Gallery/26.webp");}
gar>div.nvid>div:nth-child(15){background-image: url( "Gallery/27.webp");}
gar>div.nvid>div:nth-child(16){background-image: url( "Gallery/28.webp");}
gar>div.nvid>div:nth-child(17){background-image: url( "Gallery/29.webp");}
gar>div.nvid>div:nth-child(18){background-image: url( "Gallery/30.webp");}
gar>div.nvid>div:nth-child(19){background-image: url( "Gallery/31.webp");}
gar>div.nvid>div:nth-child(20){background-image: url( "Gallery/32.webp");}
gar>div.nvid>div:nth-child(21){background-image: url( "Gallery/33.webp");}
gar>div.nvid>div:nth-child(22){background-image: url( "Gallery/34.webp");}
gar>div.nvid>div:nth-child(23){background-image: url( "Gallery/35.webp");}
gar>div.nvid>div:nth-child(24){background-image: url( "Gallery/36.webp");}
gar>div.nvid>div:nth-child(25){background-image: url( "Gallery/37.webp");}
gar>div.nvid>div:nth-child(26){background-image: url( "Gallery/38.webp");}
gar>div.nvid>div:nth-child(27){background-image: url( "Gallery/39.webp");}


	
		
		
		
		inp.nvid1
		{
			cursor: pointer;
			position: absolute;
			width: 100%;
			height: 4vh;
			display: block;
			margin-top: -4vh;
			z-index: 2;
			background:rgba(0,0,0,0.6);
			backdrop-filter: blur(4px);

		}
	
		inp>p
		{
			display: block;
			width: 100%;
			height: 3vh;
			text-align: center;
			vertical-align: middle;
		}

		inp>p>img
		{
			opacity: 1;
			height: 2vh;
			width: auto;
			margin-top: 0.5vh;
			vertical-align: middle;
		}
		
		inp.nvid2
		{
			cursor: pointer;
			position: absolute;
			width: 100%;
			display: none;
			opacity: 1;
			background:rgba(0,0,0,0.6);
			backdrop-filter: blur(4px);
			height: 4vh;
			margin-top: -4vh;
			z-index: 2;
			


			
		}
	
		::-webkit-scrollbar { width: 0px; height: 1.5vh;} ::-webkit-scrollbar-button { width: 0px; height: 1.5vh; background-color: #766; } ::-webkit-scrollbar-thumb {background-color: #667;}
	
	

	
		div.g_gal_bol
		{
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(0,0,0,0.8);
			overflow: hidden;
			display: none;
			z-index: 10001;
			top: 0;
		}
		div.g_gal_bol>img
		{
			max-width: 80%;
			max-height: 80%;
			margin: auto;
		}
			a.cssbox_close,
            a.cssbox_prev,
            a.cssbox_next {
				position: fixed;
				text-decoration: none;
				display: block;
				top: 50%;
				width: auto;
				height: auto;
				z-index: 50001;
				cursor: pointer;
				pointer-events: all;
				
   -webkit-filter: drop-shadow( 2px 1px 3px rgba(0, 0, 0, 0.77) );

}

		a.cssbox_close {
			right: 5%;
			top: 5%;
		}
		a.cssbox_next {
			right: 5%;
		}
		a.cssbox_prev {

			left: 5%;
		}