@charset "utf-8";
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
@font-face
{
	font-family: Vetka;
	src: url("fonts/Vetka.otf");
	
}
@font-face
{
	font-family: OpenSansCondensed-Light;
	src: url("fonts/OpenSansCondensed-Light.ttf");
	
}
::-webkit-scrollbar {
  width: 0;
}
html {
	scroll-behavior: smooth;
	
}


body
{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5vw;
	background: black;
}
a
{
	text-decoration: none;
	color:rgba(89,89,89,1.00);
}

.header_a
{
	text-decoration: none;
	color:gold;
}
.button_a
{
	color:rgba(89,89,89,1.00);
}
	body {
		margin: 0;
	}
	.header{
		width: 100%;
		height:15vh;
		display: flex;
		position: fixed;
		box-shadow: 0 1em 6em 2em rgba(0, 0, 0, 0.63);
		z-index: 100;
	}
.header>div
{
	display: block;
	width: 100%;
	height: 100%;
	background: black;

}

.header>div:nth-child(1){
		color: gold;
		font-family:"OpenSansCondensed-Light";
		display: table;
		font-size: 3vw;
}
.header>div:nth-child(1) p
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header>div:nth-child(2){background: black}
.header>div:nth-child(3){
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);

}
.button
{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1px;
	background: black;
}
.button_adapt
{	
	display: none;
	width: 100%;
	height: 100%;
	padding: 0.1em;
	background: black;
	}

.button_a{
	transition: 0.5s;
	width: 100%;
	height: 100%;
	display: table;
	background: #0F0F0F;
	
}
.button_a:hover{
	
	background: black;

}

.button_a>p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.button_a:hover{
	background: #3D3D3D;
	color: white;
}
 
	logo{
		
		background-image:url("Pictures/logo.jpg");
		background-size:contain;
		background-position:center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		display: block;
		
	}
.slide_1
{
	display: block;
	width: 100%;
	height: 100vh;
}
.in_slide_1
{
	position: relative;
	display: flex;
	width: 100%;
	height: calc(100vh - 15vh);
	top: 15vh;
	background:black;
	z-index: 1;
}
.in_slide_1>a
{
    display: block;
    position: relative;
	width: 100%;
	height: 100%;
	transition: 0.35s;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	cursor: default;
}
.in_slide_1>a>div
{
    
    display: block;
    width: 25vw;
    position: absolute;
    left: 50%;
    bottom: 2vw;
    transform: translateX(-50%);
    opacity: 0;
    text-align: justify;
    transition: 0.35s;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.77);
}
.in_slide_1>a:nth-child(1)
{
	background-image: url("Pictures/doors slide 1.jpg");
    color: white;
}
.in_slide_1>a:nth-child(2)
{
	background-image: url("Pictures/windows.jpg");
    color: white;
}
.in_slide_1>a:nth-child(3)
{
	background-image: url("Pictures/kitchen slide 1.jpg");
    color: white;
}
.in_slide_1>a:nth-child(1):hover
{
	opacity: 1;
	width: 110%;
}
.in_slide_1>a:nth-child(1):hover div
{
	opacity: 1;

}
.in_slide_1>a:nth-child(2):hover
{
	width: 110%;
	opacity: 1;

}
.in_slide_1>a:nth-child(2):hover div
{
	opacity: 1;
}
.in_slide_1>a:nth-child(3):hover
{
	opacity: 1;
	width: 110%;
}
.in_slide_1>a:nth-child(3):hover div
{
	opacity: 1;
}


	diva{
		width: 100%;
		height: 100vh;
		background-image: url("Pictures/фон 2.jpg");
/*		background: #FFFFFF; 
*/
		display: block;
	}
.slide_2
{
	width: 100%;
	height: calc(100vh - 15vh);
	background-image: url("Pictures/фон 2.jpg");


}

.in_slide_2
{
	display: grid;
	grid-template-rows:  0.5fr 1fr 1fr;
	border: 1em solid rgba(221,217,217,0);
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.in_in_slide_2
{
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 1em;
}
.Services
{
	display: block;
	background: #222222;
	justify-content: center;
	padding: 4%;
	transition: ease 0.3s;
}

.S
{
	border-radius: 0.8em;
	background-size:cover;
	display: block;
	height: 100%;
	width: 100%;
	background-repeat: space;
	background-position: center;
	transition: ease 0.3s;
	cursor: pointer;
}
.Services:hover  
{
	padding: 6%
}
.S:hover  
{
	box-shadow: 0 0 4em 0.4em rgba(0, 0, 0, 0.93);
}
.S_doors
{
	background-image: url("Pictures/bg.png");	
	
}
.S_windows
{
	background-image: url("Pictures/1622841984_11-phonoteka_org-p-tekstura-okna-krasivo-12.jpg");	
}
.S_kitchen
{
	background-image: url(Pictures/0_aeb01_5b9b0be3_orig.jpg);	
}
.main_invisible_Services
		{
			position: fixed;
			width: 100%;
			height: 100vh;
			overflow: hidden;
			display: none;
			z-index: 10001;
			top: 0;
			
		}

.in_main_invisible_Services
{
		height: 100%;
		background: rgba(0,0,0,0.6);
		padding: 5em 5em 5em 5em;
	    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.77);

}
.background_d
{
	background-image: url("Pictures/bg.png");
	display: block;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;

}
.background_w
{
	display: block;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-image: url( "Pictures/1622841984_11-phonoteka_org-p-tekstura-okna-krasivo-12.jpg")
}
.background_k
{
	display: block;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-image: url( "Pictures/0_aeb01_5b9b0be3_orig.jpg")
}
.Services_text_about
{
	overflow: scroll;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	z-index: 10005;
}


.in_slide_2>p
{
	color: rgba(122,122,122,1.00);
	text-align: justify ;
	padding: 2vw 2vw 0 2vw;
    font-size: 1em;
}
.slide_3
{
	width: 100%;
	background-image: url("Pictures/фон 2.jpg");
	background: rgba(255,255,255,1.00);

}
.heading
{
	color:rgba(0,0,0,1.00);
	text-align: center;
	font-weight: 600;
	display: table;
	background-image:url("Pictures/gold.jpg");
	background-position: top;
	background-size: cover;
	height: 11vh;
	width: 100%;
}
.heading
{
	background-position: center;

}
.heading>p
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.slide_4
{
    display: block;
    position: relative;
    width: 100%;
    height: calc(100vh - 15vh - 11vh);
}
.in_slide_4
{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 0.2vw;
    position: relative;
    width: 100%;
    height: 100%;

}
div.in_in_slide_4
{
    display: block;
    margin-top: 0.2vw;
    height: 100%;
    width: 100%;
    background: #353535;
	overflow: hidden;
    
}
div.h1
{
	cursor: default;
    text-align: center;
	padding-top: 3%;
	height: 7vh;
    display: block;
    margin: auto;
    width: 100%;
	font-size: 3vh;
	background: #252525;
}

div.h1>a
{
	color: aliceblue;
}
.about2
{
	width: 90%;
	height: 80%;
	position: relative;
	left: 9%;
}
.about2 a
{
	color: #B0B0B0;
	display: block;
	padding: 10px;
	width: 88%;
	border: 2px solid #222222;
	vertical-align: middle;
	background: #2A2A2A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.77);
	transition: 0.2s ease;

}
.about2 a:hover
{
	background: #22222;
	box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.77);
}

.none
{
	
	height: calc(100vh - 15vh);
	display: block;
	position: absolute;
	top:-100%;
	z-index: -10000;
	width: 0px;
	
}
