@charset "utf-8";
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
@font-face
{
	font-family: Vetka;
	src: url("fonts/Vetka.otf");
	
}
@font-face
{
	font-family: OpenSansCondensed-Light;
	src: url("fonts/OpenSansCondensed-Light.ttf");
	
}




body
{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.5vw;
}

a,
a:active
{
	text-decoration: none;
	color:rgba(89,89,89,1.00);
}
	body {
		margin: 0;
	}
	.header{
		width: 100%;
		height:10vw;
		display: flex;
		background: green;
		position: fixed;
		box-shadow: 0 1em 6em 2em rgba(0, 0, 0, 0.63);
		z-index: 100;
	}
.header>div
{
	display: block;
	width: 100%;
	height: 100%;
	background: black;

}

.header>div:nth-child(1){
		color: gold;
		font-family:"OpenSansCondensed-Light";
		display: table;
		font-size: 3vw;
}
.header>div:nth-child(1) p
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.header>div:nth-child(2){background: black}
.header>div:nth-child(3){
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);

}
.button
{
	display: flex;
	width: 100%;
	height: 100%;
	background: black;
}
.button>a{
	transition: 0.5s;
	width: 100%;
	height: 100%;
	display: table;
	
}
.button>a:hover{
	
	background: black;

}

.button>a>p{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.button>a:hover{
	background: #3D3D3D;
	color: white;
}

	logo{
		
		background-image:url("Pictures/logo.jpg");
		background-size:contain;
		background-position:center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		display: block;
		
	}
.slide_1
{
	display: block;
	width: 100%;
	height: 100vh;
}
.in_slide_1
{
	position: relative;
	display: flex;
	width: 100%;
	height: calc(100vh - 10vw);
	top: 10vw;
	background:black;
	z-index: 1;
}
.in_slide_1>div
{
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.35s;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}
.in_slide_1>div:nth-child(1)
{
	background-image: url("Pictures/doors slide 1.jpg");
}
.in_slide_1>div:nth-child(2)
{
	background-image: url("Pictures/windows.jpg");
	padding: 1vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1vw;
}
.in_slide_1>div:nth-child(2)>div
{
	background: #FFFFFF;
	
}

.in_slide_1>div:nth-child(3)
{
	background-image: url("Pictures/kitchen slide 1.jpg");
}
.in_slide_1>div:nth-child(1):hover
{
	opacity: 1;
	width: 110%;
}
.in_slide_1>div:nth-child(2):hover
{
	width: 110%;
	opacity: 1;

}
.in_slide_1>div:nth-child(3):hover
{
	opacity: 1;
	width: 110%;
}

	diva{
		width: 100%;
		height: 100vh;
		background-image: url("Pictures/фон 2.jpg");
/*		background: #FFFFFF; 
*/
		display: block;
	}

